<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs\internal-nlog-AspNetCore.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target xsi:type="Console" name="console" layout="${level:truncate=4:lowercase=true}: ${logger}[0]${newline}|${message}${exception:format=toString}" />

		<target xsi:type="File" name="fileTarget" fileName="logs/all-${shortdate}.txt"
                layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=toString}"
               />
		<target xsi:type="File" name="webfile" fileName="logs/web-${shortdate}.txt"
                layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=toString}"
                 />
		<target xsi:type="File" name="dbfile" fileName="logs/db-${shortdate}.txt"
                layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=toString}"
                 />
		<target xsi:type="File" name="backgroundtasksfile" fileName="logs/backgroundtasks-${shortdate}.txt"
                layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=toString}"
                 />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="console,fileTarget" />

		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console" final="true" />

		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="InfoGatherer.Api.BackgroundTasks.*" minlevel="Trace" writeTo="backgroundtasksfile" final="true" />

		<logger name="InfoGatherer.Api.Controllers.*" minlevel="Info" writeTo="webfile" final="true" />
		<logger name="InfoGatherer.Api.Data.*Repository" minlevel="Trace" writeTo="dbfile" final="true" />
		<logger name="InfoGatherer.Api.Database.*" minlevel="Trace" writeTo="dbfile" final="true" />

		<logger name="InfoGatherer.*" minlevel="Trace" final="true"/>
	</rules>
</nlog>